$white:                         #FFFFFF;
$black:                         #000000;
$mine:                          #202020;
$silver:                        #b3b3b3;
$grey:                          #dedede;
$dust:                          #e6e6e6;

$water:                         #2d95e3;
$clearWater:                    #bceafe;

$transparentWater:              rgba(45, 149, 227, 0.7);
$transparentBlack:              rgba(0, 0, 0, 0.7);

$fire:                          #e67e22;

@import url(http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

$title:                         'Montserrat', Helvetica, sans-serif;
$text:                          'Merriweather', Georgia, serif;

@import 'code';
@import 'font';
@import 'layout';

